<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">App Catedráticos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create-post">Crear Publicación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">Perfil</a>
        </li>
        
        <!-- 🔥 Mostrar el usuario logueado o botón de login -->
        <li class="nav-item" *ngIf="!usuario">
          <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
        </li>
        <li class="nav-item dropdown" *ngIf="usuario">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
            {{ usuario.nombre }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
